*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #242424;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #F8F0DF;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #9D9D9D; }
  .heading-2--dark {
    color: #242424; }

.heading-3 {
  font-size: 1.6rem;
  color: #79B4B7;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #9D9D9D; }
  .heading-4--dark {
    color: #242424; }

.btn {
  background-color: #79B4B7;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #1b3434; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(27, 52, 52, 0.9), rgba(27, 52, 52, 0.8)), url(../img/mountainHike.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  row-gap: 1.5rem;
  justify-content: center; }
  .header__logo {
    height: 3rem;
    justify-self: center;
    fill: #79B4B7; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__findMe-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    font-size: 1.6rem;
    gap: 1.5rem;
    align-items: center;
    color: #cecece; }
    .header__findMe-text::before, .header__findMe-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__findMe-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center; }
    .header__findMe-logos svg {
      height: 5rem;
      width: 5rem;
      fill: #9D9D9D;
      filter: brightness(90%); }

.footer {
  background-color: #1b3434;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #9D9D9D;
  margin-top: 6rem;
  text-align: center; }

.sidebar {
  background-color: #79B4B7;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center; }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.aboutMe__pictures {
  background-color: #79B4B7;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(121, 180, 183, 0.9), rgba(121, 180, 183, 0.5)), url(../img/waterWallpaper.jpg);
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }

.aboutMe__img--1 {
  width: 115%;
  grid-row: 2 / 6;
  grid-column: 7 / 13;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.aboutMe__img--2 {
  width: 100%;
  grid-row: 1 / -1;
  grid-column: 2 / 12;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3); }

.aboutMe__content {
  background-color: #FEFBF3;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.aboutMe__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.gallery {
  background-color: #F8F0DF;
  grid-column: full-start / full-end; }

.skills {
  background-color: #F8F0DF;
  grid-column: col-start 7 / full-end; }

.projects {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.project {
  background-color: #edf9f9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem; }
  .project__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .project__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 20;
    width: 80%;
    justify-self: center;
    align-self: end;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #1b3434;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .project__github {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #1b3434;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 20;
    justify-self: end;
    margin: 1rem; }
  .project__language, .project__description {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem; }
    .project__language svg, .project__description svg {
      fill: #1b3434;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .project__btn {
    grid-column: 1 / -1; }

.experiences {
  grid-column: center-start / center-end;
  margin: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem; }
