.aboutMe {
    &__pictures {
        background-color:$color-primary;
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(6,1fr);

    }

    &__img--1 {
        width: 100%;
    }

    &__img--2 {
        width: 100%;
    }

    &__content {
        background-color: $color-secondary;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}