.aboutMe {
    &__pictures {
        background-color:$color-primary;
        grid-column: full-start / col-end 4;
    }
    &__content {
        background-color: color-secondary;
        grid-column: col-start 5 / full-end;
        padding: 6rem 12rem;
    }
    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}