.aboutMe {
    &__pictures {
        background-color:$color-primary;
        grid-column: full-start / col-end 4;

        background-image: linear-gradient(rgba($color-primary, .9),rgba($color-primary, .5)), url(../img/waterWallpaper.jpg);
        display: grid;
        grid-template-rows: repeat(12,1fr);
        grid-template-columns: repeat(12,1fr);
        align-items: center;

    }

    &__img--1 {
        width: 115%;
        grid-row: 2 / 6;
        grid-column: 7 / 13;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000,.2);
    }

    &__img--2 {
        width: 100%;
        grid-row: 1 / -1;
        grid-column: 2 / 12;
        z-index: 10;
        box-shadow: 0 2rem 5rem rgba(#000,.3);
    }

    &__content {
        background-color: $color-secondary;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}