// COLOR VARIABLES
$color-primary: #79B4B7;

$color-secondary: #FEFBF3;

$color-beige: #F8F0DF;
$color-grey: #9D9D9D;
$color-grey-dark: #2e2d2d;



// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $color-grey-dark;
    font-weight: 300;
    line-height: 1.6;
}