.experiences {
    grid-column: center-start / center-end;

    margin: 10rem;

    display: grid;
    // grid-template-columns: repeat(3,1fr);
    grid-gap: 6rem;

    @media only screen and (max-width: $bp-medium) {
        margin: 2rem 0rem;
        
    }

    

    
}

.experience {

    &__icon{
        height: 25rem;
        width: 25rem;

        @media only screen and (max-width: $bp-mini) {
            height: 15rem;
            width: 15rem;
        }

    }
}