.projects {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 7rem;
}


.project {
    background-color: $color-primary-light;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 2rem;

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 20;
        width: 80%;
        justify-self: center;
        align-self: end;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-primary-dark;
        color: $color-white;
        font-weight: 400;
        transform: translateY(50%);
    }

    &__github {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        fill: $color-primary-dark;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 20;
        justify-self: end;
        margin: 1rem;
    }

    &__language,
    &__description {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 1.5rem;
        svg {
            fill: $color-primary-dark;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }

    }
    &__btn {
        grid-column: 1 / -1;
    }
}