// COLOR VARIABLES
$color-primary: #79B4B7;
$color-primary-dark: #1b3434;
$color-primary-light:#edf9f9;

$color-secondary: #FEFBF3;
$color-white: #fff;
$color-beige: #F8F0DF;
$color-grey-light: #cecece;
$color-grey: #9D9D9D;
$color-grey-dark: #242424;



// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200/16
$bp-large: 62.5em; //1000/16
$bp-medium: 50em;  //800/16
$bp-small: 31.25em; //500/16
$bp-mini: 25em; //400/6


*,
*::before,
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-mini) {
        font-size: 40%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh minmax(min-content, 40vw) repeat(3,min-content);
    grid-template-columns: 
        [sidebar-start] 8rem 
        [sidebar-end full-start] minmax(6rem, 1fr) 
        [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) 
        [center-end] minmax(6rem, 1fr)
        [full-end];

        @media only screen and (max-width: $bp-large) {
            grid-template-rows: 6rem 80vh minmax(40vw,min-content) repeat(3,min-content);
            grid-template-columns: 
                [full-start] minmax(6rem, 1fr) 
                [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) 
                [center-end] minmax(6rem, 1fr)
                [full-end];
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: 6rem calc(100vh - 6rem) repeat(5,min-content);
            
        }
}
